<mat-stepper>
  <mat-step label="Início">

  </mat-step>
  <mat-step label="Documentos">

  </mat-step>
  <mat-step label="Dados Cadastrais">

  </mat-step>
  <mat-step label="Admissão">

  </mat-step>
</mat-stepper>
<div class="texto">
  <h2>Informe o CPF do futuro cooperado (a)</h2>
  <p>Se necessário, você poderá duplicar uma conta existente ou pausar e retornar este cadastro futuramente.</p>
  <p>Digite apenas os números(sem pontos ou traços).</p>
</div>
<div class="formCpf">
  <h3 class="tituloCpf"><strong>CPF</strong></h3>
  <form [formGroup]="formCliente">
    <div class="d-flex flex-row w-50">
      <input class="form-control h-50 w-50" formControlName="cpf" type="text" placeholder="000.000.000-00" required
        mask="000.000.000-00" maxlength="14">
      <button class="h-50" type="button" class="btn btn-primary" (click)="consultarCpf()">Consultar por CPF</button>
    </div>

    <div *ngIf="formCliente.controls?.cpf?.invalid && (formCliente.controls?.cpf?.dirty || formCliente.controls?.cpf?.touched)" class="text-danger">

      <div *ngIf="formCliente.controls?.cpf?.errors?.['required']">
        O CPF é obrigatório
      </div>
    </div>

  </form>
  <div class="col-sm-8" *ngIf="isCpfValid">
    <situacao-cadastral [dadosUsuario]="dadosUsuario"></situacao-cadastral>
  </div>
</div>
