.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 20px;
  margin-top: 10px;
}
.tituloHeader{
  margin-top: 10px;
  margin-bottom: 1px;
}
.breadCrumbsHeader{
  margin-top:  1px;
}
.botaoHeader {
  border-radius: 20px;
  margin: 0 5px 0 5px;
}
.perfil {
  border-radius: 40px;
  margin-left: 0 5px 0 5px;
}
.notificacao{
  margin-right: 20px;
  margin-top: 10px;
}
